<div class="modal fade" id="variantModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1b45cf; color: white;">
                <h5 class="modal-title"><i class="fas fa-list me-2"></i>Danh sách biến thể của sản phẩm</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover align-middle mb-0">
                        <thead style="background-color: #f4f6f9; color: #0a2551;">
                            <tr>
                                <th width="15%">Mã biến thể</th>
                                <th width="20%">Màu sắc</th>
                                <th width="20%">Giá bán</th>
                                <th class="text-center" width="15%">Tồn kho</th>
                                <th width="30%">Mô tả</th>
                            </tr>
                        </thead>
                        <tbody id="variantTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>